<h1>Edit <%= @distributor.name %> </h1>

	<%= form_tag "/distributors/#{@distributor.id}", method: :patch do %>
		<form>
		  <div class="form-group">
		    <label>Distributor Name</label>
		    <input type="text" class="form-control" name="name" value="<%= @distributor.name.upcase %>" required>
		  </div>
			
		<button type="submit" class="btn btn-primary">Edit Distributor</button>
		</form>

	<% end %>