

<div>
	<h3>Prep Center</h3>
	<ul class="list-group">
		<% @prepcenters.each do |prepcenter| %>
			<a href=""><button type="button"<li class="list-group-item list-group-item-action"><%= prepcenter.name %></li></button></a>	  
		<% end %>
	</ul>

	<h3>Stores</h3>
	<ul class="list-group">
		<% @stores.each do |store| %>
		  <a href="/<%= store.name %>/products"><button type="button"<li class="list-group-item list-group-item-action"><%= store.name %></li></button></a>
		<% end %>
	</ul>
</div>

<a href="/stores/new"><button type="button" class="btn btn-success">Add New Location</button></a>
