

<div class='navbar'>
  <ul>
    <li><a href="/">Choose Store</a></li>
    <li><a href="/products">Add New Products</a></li> 
    <li><a href="/locations">Add New Locations</a></li>
    <li><a href="/distributors">Add New Distributors</a></li>
  </ul>
</div>