<h1>All Prices</h1>

<a href="/prices/new"><button type="button" class="btn btn-primary">Update Prices</button></a>

<a href="/prices"><button type="button" class="btn btn-primary">View Price Overview</button></a>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date Updated</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>

	<% @saved_prices.each do |saved_price| %>
	  <tr>
	    <td><%= saved_price.created_at.strftime('%A, %d %b %Y %l:%M %p') %></td>	
	    <td><a href="/prices/<%= saved_price.id %>"><button type="button" class="btn btn-info">View </button></a> </td>	
	 </tr>
	<% end %>

    </tbody>
  </table>

  </div>
</div>