
<h1>Prices Updated On <%= @date.strftime('%A, %d %b %Y %l:%M %p') %></h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>

  <% @prices.each do |price| %>
    <% if price.product %>
      <tr>
        <td><%= price.product.name %></td>  
        <td><%= number_to_currency(price.amount) %></td>  
     </tr>
    <% end %>
  <% end %>

    </tbody>
  </table>

  </div>
</div>



