/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media print {
  a[href]:after {
    content: none !important;
  }
}

.red {
	color:red;
}

.orange {
	color:orange;
}

.green {
	color:green;
}

thead td {
	background-color: #4975bc;
}

input[type=checkbox] {
  transform: scale(1.25);
}	

th.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 36px;
    z-index: 10;
    background-color: #4975bc;
    
}

th.sticky2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: #ef263f;
}

 .badge-notify{
   /*z-index: 1;*/
   background:red;
   position:relative;
   border-radius: 50%;
   -moz-transform: translate(150%, -60%); 
   -ms-transform: translate(150%, -60%);
   -webkit-transform: translate(150%, -60%); /* For Safari, Chrome, iOS */
   -o-transform: translate(150%, -60%); 
 }
