
<h1>Add a New Non-prepped Product</h1>

	<%= form_tag "/globals/products", method: :post do %>
		<form>
		  <div class="form-group">
		    <label>Product Name</label>
		    <input type="text" class="form-control" name="name" placeholder="Enter Product Name" required>
		  </div>

		  <div class="form-group">
		    <label>Distributor</label>
		    <select class="form-control" name="distributor" required>
		      <option value=""></option>
		      <% @distributors.each do |distributor| %>
		      	<option value="<%= distributor.name %>"><%= distributor.name %></option>
		      <% end %>
		    </select>	 
		  </div>

		  <div class="form-group">
		    <label>Measurement</label>
		   <select class="form-control" name="measurement" required>
		      <option value=""></option>
		      <option value="EA">EA</option>
		      <option value="BIN">BIN</option>
		      <option value="SLEEVE">SLEEVE</option>
		      <option value="%">%</option>
		      <option value="CASE">CASE</option>
		    </select>	
		  </div>

		  <div class="form-group">
		    <label>Item Type</label>
		    <select class="form-control" name="item_type" required>
		      <option value=""></option>
		      <option value="dry">Dry</option>
		      <option value="refrigerated">Refrigerated</option>
		      <option value="frozen">Frozen</option>
		    </select>	 
		  </div>	  

		  <div class="form-group">
		    <label>Case Quantity</label>
		    <input type="number" class="form-control" name="case_quantity" placeholder="Leave Blank If Not Case">
		  </div>

		  <div class='form-group'>
		  	<label>Mark Up</label>
			<input type="number" class="form-control" maxlength="12" name="markup" step="any" required/>
		  </div>

		  <div class='form-group'>
		  	<label>Price</label>
			<input type="number" class="form-control" id="amount" maxlength="12" name="price" step="any" required/>
		  </div>	
  
		  <button type="submit" class="btn btn-success">Add Product</button>
		</form>
	<% end %>

	<br>



