
<h1>Add <%= @product.name %> To Prep Center</h1>

	<%= form_tag "/globals/products/prepcenter", method: :post do %>
		<form>
		
		  <input type="hidden" name="id" value="<%= params[:id] %>" >

		  <div class="form-group">
		    <label>Product Name</label>
		    <input type="text" class="form-control" name="name" placeholder="Enter Product Name" required>
		  </div>

		  <div class="form-group">
		    <label>Measurement</label>
		   <select class="form-control" name="measurement" required>
		      <option value=""></option>
		      <option value="EA">EA</option>
		      <option value="BIN">BIN</option>
		      <option value="SLEEVE">SLEEVE</option>
		      <option value="%">%</option>
		    </select>	
		  </div>

		  <div class="form-group">
		    <label>Item Type</label>
		    <select class="form-control" name="item_type" required>
		      <option value=""></option>
		      <option value="dry">Dry</option>
		      <option value="refrigerated">Refrigerated</option>
		      <option value="frozen">Frozen</option>
		    </select>	 
		  </div>	  

		  <div class="form-group">
		    <label>Case Quantity</label>
		    <input type="number" class="form-control" name="case_quantity" placeholder="Leave Blank If Not Case">
		  </div>

		  <div class="form-group">
		    <label>Portion Size</label>
		    <input type="number" class="form-control" name="portion_size" placeholder="1 If No portion" step="0.01" required>
		  </div>
	  

		  <button type="submit" class="btn btn-success">Add Product</button>
		</form>
	<% end %>

	<br>



