<h1>Add a New Location</h1>

	<%= form_tag "/locations", method: :post do %>
		<form>
		  <div class="form-group">
		    <label>Location Name</label>
		    <input type="text" class="form-control" name="name" placeholder="Enter Location Name" required>
		  </div>
			
		<button type="submit" class="btn btn-success">Add Location</button>
		</form>

	<% end %>